@mixin flexcenter ($justifycontent) {
    display: flex;
    align-items: center;
    justify-content: $justifycontent;
}

@mixin border ($r) {
    border-radius: $r;
    -webkit-border-radius: $r;
    -moz-border-radius: $r;
    -ms-border-radius: $r;
    -o-border-radius: $r;
}

@mixin transition {
    transition: all 0.4s ease-in-out;
}

@mixin lists {
    ul {
        display: flex;
      flex-direction: column;
      margin-top: 1.5rem;
    }
 li {
        @include transition();
        padding: 3px 0px;
      
        list-style: none;
        color: $white-color;
        font-size: 0.875rem;
        font-weight: 400;
        @media only screen and (min-width: 768px) and (max-width: 1200px) {
            font-size: 0.813rem;
        }
       

        a {
            color: #C0C0C0 !important;
            &:hover{
                color: $primery-color !important;
            }
        }
    }
}
@mixin lists_2 {
    ul {
        display: flex;
      flex-wrap: wrap;
      margin-top: 1.5rem;
     
    }
 li {
        @include transition();
        padding: 3px 0px;
       width: calc( 100% / 2);
        list-style: none;
        color: $white-color;
        font-size: 0.875rem;
        font-weight: 400;
        @media only screen and (min-width: 992px) and (max-width: 1200px) {
            font-size: .0.813rem;
        }
        @media only screen and (min-width: 768px) and (max-width: 992px) {
             
              padding: 2px 0px;
        }
        
       

        a {
            color: #C0C0C0 !important;
            &:hover{
                color: $primery-color !important;
            }
        }
    }
}




@mixin socialiocns {
    width: 100%;
    @media (max-width:767px) { margin-bottom: 1.5rem;}

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            padding: 10px 5px;
            list-style: none;
            font-size: 1rem;

            @media (max-width:1200px) {
                padding: 10px 5px
            }

            a {
                color: $white-color !important;
                position: relative;
                display: inline-block;
                text-decoration: none;

                &:hover {
                    color: $primery-color !important;
                }



            }

            &:first-child {
                padding-left: 0px;
            }

        }
    }

}

@mixin block-list {
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 100%;
            list-style: none;
            position: relative;
            padding: 0.2rem 0 0.2rem 28px;
            color: $paragraph;
            font-size: 0.85rem;

            line-height: 30px;
            &::before {
                content: "\eb6e";
                display: inline-block;
                font-family: unicons-line;
                position: absolute;
                font-size: 20px;
                left: 0;
                color: $primery-color;
            }
        }
    }
}

@mixin paraghraph {
    @include transition;
    text-align: left;
    color: $paragraph;
    display: -webkit-box;
    height: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;

    @media (max-width: 480px) {
        height: 48px;
        min-height: 40px;
    }
}

@mixin clearfix() {

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}