// COLOR PALETTE
$primery-color:#00687f;
$secondary-color:#F4F9FC;
$terterry-color: #F8F1DE;
$paragraph: #545F71;
$grey-color: #f6f4f4;

$black-color: #000;
$white-color: #fff;
$dark-gray:#223645;
$light-black:#242324;


 //fonts
$font-family:"Inter", serif;




